mixin popup()
    div(class="fixed w-80 left-10 bottom-10 rounded-md border-2 p-6 bg-green-500 popup-animate hidden" id="pop-up")
        div
            svg(class="w-5 h-5 absolute top-1 right-1 stroke-[3px] stroke-black hover:stroke-red-600 cursor-pointer" xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' )
                path(stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12')

        p(class="font-semibold font-montserrat")

