extends ./includes/layouts

block main

    main(class="grid gap-y-3 w-full p-5" id="main") 
        h3(class="font-semibold text-2xl") Berita Terkini
        div(class="bg-black w-full min-h-[200px]")
        div(class="bg-black w-full min-h-[200px]")
        div(class="bg-black w-full min-h-[200px]")

        h3(class="font-semibold text-2xl") Categories
        div(class="bg-black w-full min-h-[200px]")
        div(class="bg-black w-full min-h-[200px]")
        div(class="bg-black w-full min-h-[200px]")