extends ./includes/layouts

mixin kategori(c)
    div(class="sm:flex sm:flex-col sm:gap-y-2")
        a(class="flex flex-col gap-y-3" href="/category-news/"+c.id_category_news)
            h3(class="font-semibold text-xl sm:text-2xl md:text-2xl") #{c.category} 
            img(class="w-full min-h-[200px] border-4 border-gray-800 sm:border-2" src=c.img)

mixin recent(n, image)
    a(href="/read-news?news="+n.id_news class="sm:flex sm:flex-col sm:gap-y-2")
        img(class="w-full min-h-[200px] border-4 border-gray-800 sm:border-2" src=n.img)
        h3(class="font-semibold text-xl sm:text-2xl md:text-2xl") #{n.title}

block main
    main(class="grid gap-y-3 w-full p-5  mx-auto sm:gap-3 lg:w-3/4" id="main")
        div(class="flex flex-col gap-y-4 sm:grid sm:col-span-2 sm:grid-cols-2 sm:gap-6")
            h2(class="font-bold text-3xl mt-7 sm:mb-3 sm:col-span-2 md:text-4xl") Category
            each n in categoryNews
                +kategori(n)

        div(class="flex flex-col gap-y-4 sm:grid sm:col-span-2 sm:grid-cols-2 sm:gap-6") 
            h2(class="font-bold text-3xl mt-7 sm:mb-3 sm:col-span-2 md:text-4xl") Terkini
            each n in recentNews
                +recent(n)