extends ./includes/layouts

block main
    main(class="w-full p-5 grid grid-cols-1 gap-y-3 bg-white md:w-3/4 md:mx-auto md:p-8 lg:w-3/5")
        h1(class="font-bold text-2xl text-justify md:text-3xl")= title 
        img(class="w-full bg-black min-h-[200px]" src=img)
    
        article(class="text-justify flex flex-col gap-y-5")

            h1(class="font-bold text-2xl ") Sumber Kehidupan
            p hello world my name is wirawan mahardika, Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sapiente illum suscipit temporibus minima, error, a consectetur ad ab eligendi quis eum deleniti reiciendis possimus, alias inventore laudantium? Itaque ad maxime velit tenetur commodi, cumque perferendis? Ut, ex! Similique neque culpa repudiandae a, magnam ab nam atque harum ea? Id nulla architecto impedit similique nostrum quam accusamus est ducimus omnis possimus quo odit illum repudiandae aliquam molestiae eligendi ea expedita, ex enim libero, cupiditate hic quos maxime rerum? Consectetur omnis magni consequuntur illum exercitationem ab quisquam voluptates sapiente. Nihil eum animi culpa dolorem repellendus maxime natus, tempore necessitatibus officia minima.

        
            h1(class="font-bold text-2xl ") Perjalanan Mencari Kebenaran
            p hello world my name is wirawan mahardika, Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sapiente illum suscipit temporibus minima, error, a consectetur ad ab eligendi quis eum deleniti reiciendis possimus, alias inventore laudantium? Itaque ad maxime velit tenetur commodi, cumque perferendis? Ut, ex! Similique neque culpa repudiandae a, magnam ab nam atque harum ea? Id nulla architecto impedit similique nostrum quam accusamus est ducimus omnis possimus quo odit illum repudiandae aliquam molestiae eligendi ea expedita, ex enim libero, cupiditate hic quos maxime rerum? Consectetur omnis magni consequuntur illum exercitationem ab quisquam voluptates sapiente. Nihil eum animi culpa dolorem repellendus maxime natus, tempore necessitatibus officia minima.

            //- ul(class="list-disc p-3")
            //-     li Apa itu logika
            //-     li Apa itu Agama
            //-     li Bermimpi yang tinggi


        


    script(src="/js/read-news.js") 