extends ./includes/layouts

mixin text(judul, content)
    h3(class="text-lg font-bold break-words sm:text-xl") #{judul}
    each paragraph in content
        p(class="break-words sm:text-lg")= paragraph

block main
    main(class="w-full p-5 grid grid-cols-1 gap-y-3 bg-white md:w-3/4 md:mx-auto md:p-8 lg:w-3/5")
        h1(class="font-bold text-2xl text-justify md:text-3xl")= title 
        img(class="w-full bg-black min-h-[200px]" src=img)
    
        article(class="text-justify flex flex-col gap-y-9")
            each content in contents
                +text(content.sub_title, content.content)


    script(src="/js/read-news.js") 