doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title News
        link(rel="stylesheet" href="/css/style.css")
    body(class="font-poppins")
        form(action="/api/v1/login" method="post" class="flex w-screen h-screen items-center justify-center p-9")
            div(class="flex flex-col gap-y-3 w-full")
                h1(class="font-bold text-3xl text-center") Signup

                //- if messages.error 
                //-     p(class="text-center text-red-600 font-semibold mt-3")= messages.error

                div(class="flex flex-col gap-y-1")
                    label(for="email" class="font-semibold text-lg") Email
                    input(type="email" id="email" name="email" class="w-full outline-none border-2 border-gray-800  py-1 px-3 rounded focus-within:border-cyan-600" placeholder="Masukkan email..." required)

                div(class="flex flex-col gap-y-1")
                    label(for="fullname" class="font-semibold text-lg") Fullname
                    input(type="text" id="fullname" name="fullname" class="w-full outline-none border-2 border-gray-800  py-1 px-3 rounded focus-within:border-cyan-600" placeholder="Masukkan fullname..." required)

                div(class="flex flex-col gap-y-1")
                    label(for="username" class="font-semibold text-lg") Username
                    input(type="text" id="username" name="username" class="w-full outline-none border-2 border-gray-800  py-1 px-3 rounded focus-within:border-cyan-600" placeholder="Masukkan username...")

                div(class="flex flex-col gap-y-1")
                    label(for="password" class="font-semibold text-lg") Password
                    input(type="password" id="password"  name="password" class="w-full outline-none border-2 border-gray-800  py-1 px-3 rounded focus-within:border-cyan-600" placeholder="Masukkan password...")

                button(type='submit' class="px-3 py-1 rounded bg-cyan-600 mt-3") Submit

    script(src="/js/login.js")